{% extends 'admin/layout.html' %}
{% block body %}
<form action="/admin/testimonials/add" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      {{testimonialsform.name(class="form-control", id="exampleFormControlInput1", placeholder="Name")}}
    </div>
    <div class="mb-3">
      {{testimonialsform.profession(class="form-control", id="exampleFormControlInput1", placeholder="Profession")}}
    </div>
    <div class="mb-3">
      {{testimonialsform.image(class="form-control", id="exampleFormControlInput1", placeholder="Image")}}
    </div>
    <div class="mb-3">
        {{testimonialsform.info(class="form-control", id="exampleFormControlInput1", placeholder="Info")}}
    </div>
    {{testimonialsform.submit(class='btn btn-primary')}}
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">profession</th>
      <th scope="col">Image</th>
      <th scope="col">Info</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      {% for testimonial in testimonials %}
    <tr>
      <td>{{testimonial.Id}}</td>
      <td>{{testimonial.name}}</td>
      <td>{{testimonial.profession}}</td>
      <td><img src="/static/uploads/{{testimonial.image}}" alt="" style="width: 50px; height: 50px; object-fit:cover;"></td>
      <td>{{testimonial.info}}</td>
      <td>
          <a href="/admin/testimonials/delete/{{testimonial.Id}}" class="btn btn-danger">Delete</a>
          <a href="/admin/testimonials/edit/{{testimonial.Id}}" class="btn btn-primary">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    
{% endblock %}