{% extends 'admin/layout.html' %}
{% block body %}
<form action="/admin/features/add" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      {{featuresform.name(class="form-control", id="exampleFormControlInput1", placeholder="Name")}}
    </div>
    <div class="mb-3">
      {{featuresform.icon(class="form-control my-3", id="exampleFormControlInput1", placeholder="Icon")}}
    </div>
    <div class="mb-3">
      {{featuresform.image(class="form-control my-3", id="exampleFormControlInput1", placeholder="Image")}}
    </div>
    <div class="mb-3">
      {{featuresform.info(class="form-control", id="exampleFormControlInput1", placeholder="Info")}}
    </div>
    <div class="mb-3">
      {{featuresform.submit(class="btn btn-primary", id="exampleFormControlInput1", placeholder="Add Portfolio")}}
    </div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Icon</th>
      <th scope="col">Image</th>
      <th scope="col">Info</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for feature in features %}
      <tr>
        <th>{{feature.Id}}</th>
        <th>{{feature.name}}</th>
        <th>{{feature.icon}}</th>
        <th>
          <img src="/static/uploads/{{feature.img}}" style="width: 50px; height: 50px; object-fit:cover;">
        </th>
        <th>{{feature.info}}</th>
        <th>
          <a href="/admin/feature/edit/{{feature.Id}}" class="btn btn-primary">Update</a>
          <a href="/admin/feature/delete/{{feature.Id}}" class="btn btn-danger">Delete</a>
        </th>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}}