{% extends 'admin/layout.html' %}
{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Location</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    {% for information in informations %}
    <tr>
      <td>{{information.Id}}</td>
      <td>{{information.location}}</td>
      <td>{{information.email}}</td>
      <td>{{information.phone}}</td>
      <td>
          <a href="/admin/information/edit/{{information.Id}}" class="btn btn-primary">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}}