{% extends 'admin/layout.html' %}
{% block body %}
<form action="/admin/service/edit/{{service.Id}}" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      {{servicesform.name(class="form-control", id="exampleFormControlInput1", placeholder="Name", value=service.name)}}
    </div>
    <div class="mb-3">
      {{servicesform.icon(class="form-control my-3", id="exampleFormControlInput1", placeholder="Icon", value=service.icon)}}
    </div>
    <div class="mb-3">
      {{servicesform.image(class="form-control", id="exampleFormControlInput1", placeholder="Image")}}
    </div>
    <div class="mb-3">
        {{servicesform.info(class="form-control", id="exampleFormControlInput1", placeholder="Info", value=service.info)}}
      </div>
    <div class="mb-3">
      {{servicesform.submit(class="btn btn-primary", id="exampleFormControlInput1", placeholder="Update Portfolio")}}
    </div>
</form>
{% endblock %}}