<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All messages</h1><h4><a href="/logout/{{id}}">Logout</a></h4>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{message.id}}</td>
                <td>{{message.name}}</td>
                <td>{{message.email}}</td>
                <td>{{message.message}}</td>
                <td><a href="/delete/{{message.id}}">Delete</a></td>
                <td><a href="/update/{{message.id}}">Update</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>