<!-- Sidebar navigation-->
<nav class="sidebar-nav">
    <ul id="sidebarnav">

        <li class="p-15 m-t-10"><a href="javascript:void(0)"
                class="btn d-block w-100 create-btn text-white no-block d-flex align-items-center"><i
                    class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Create New</span> </a>
        </li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/messages" aria-expanded="false"><i class="mdi mdi-message-outline"></i><span
                    class="hide-menu">Messages</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/navlinks" aria-expanded="false"><i class="mdi mdi-navigation"></i><span
                    class="hide-menu">Navigation Links</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/teams" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span
                    class="hide-menu">Teams</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/teamsimage" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span
                    class="hide-menu">Teams Image</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/portfoliocategory" aria-expanded="false"><i class="mdi mdi-account-star"></i><span
                    class="hide-menu">Portfolio Category</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/portfolio" aria-expanded="false"><i class="mdi mdi-account-star"></i><span
                    class="hide-menu">Portfolio</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/clients" aria-expanded="false"><i class="mdi mdi-account-star"></i><span
                    class="hide-menu">Clients</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/featuredservice" aria-expanded="false"><i class="mdi mdi-account-star"></i><span
                    class="hide-menu">Featured Service</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/service" aria-expanded="false"><i class="mdi mdi-account-star"></i><span
                    class="hide-menu">Service</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/pricing" aria-expanded="false"><i class="mdi mdi-account-star"></i><span
                    class="hide-menu">Pricing</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/pricingoption" aria-expanded="false"><i class="mdi mdi-account-star"></i><span
                    class="hide-menu">PricingOptions</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/information" aria-expanded="false"><i class="mdi mdi-account-star"></i><span
                    class="hide-menu">Information</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/testimonials" aria-expanded="false"><i class="mdi mdi-account-star"></i><span
                    class="hide-menu">Testimonials</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/features" aria-expanded="false"><i class="mdi mdi-account-star"></i><span
                    class="hide-menu">Features</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/featureoptions" aria-expanded="false"><i class="mdi mdi-account-star"></i><span
                    class="hide-menu">Feature Options</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/blog" aria-expanded="false"><i class="mdi mdi-account-star"></i><span
                    class="hide-menu">Blogs</span></a></li>
    </ul>

</nav>
<!-- End Sidebar navigation -->