{% extends 'admin/layout.html' %}
{% block body %}
<form action="/admin/navlinks/add" method="POST">
    <div class="mb-3">
      {{navlinks.name(class="form-control", id="exampleFormControlInput1", placeholder="Name")}}
    </div>
    <div class="mb-3">
      {{navlinks.url(class="form-control", id="exampleFormControlInput1", placeholder="URL")}}
    </div>
    <div class="mb-3">
      {{navlinks.order(class="form-control", id="exampleFormControlInput1", placeholder="Order")}}
    </div>
    <div class="form-check">
      {{navlinks.isactive(class="form-check-input", type="checkbox", id="flexCheckDefault")}}
      <label class="form-check-label" for="flexCheckDefault">
        Aktiv olsun
      </label>
    </div>
    {{navlinks.submit(class='btn btn-primary')}}
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">URL</th>
      <th scope="col">Order</th>
    </tr>
  </thead>
  <tbody>
      {% for navigation in navigationlink %}
    <tr>
      <td>{{navigation.Id}}</td>
      <td>{{navigation.Name}}</td>
      <td>{{navigation.Url}}</td>
      <td>{{navigation.Order}}</td>
      <td>
          <a href="/admin/navlinks/delete/{{navigation.Id}}" class="btn btn-danger">Delete</a>
          <a href="/admin/navlinks/edit/{{navigation.Id}}" class="btn btn-primary">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}}