{% extends 'admin/layout.html' %}
{% block body %}
<form action="/admin/teams/add" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      {{teamsform.name(class="form-control", id="exampleFormControlInput1", placeholder="Name")}}
    </div>
    <div class="mb-3">
      {{teamsform.profession(class="form-control", id="exampleFormControlInput1", placeholder="Profession")}}
    </div>
    <div class="mb-3">
      {{teamsform.image(class="form-control", id="exampleFormControlInput1", placeholder="Image")}}
    </div>
    <div class="mb-3">
        {{teamsform.twitter(class="form-control", id="exampleFormControlInput1", placeholder="Twitter")}}
      </div>
      <div class="mb-3">
        {{teamsform.facebook(class="form-control", id="exampleFormControlInput1", placeholder="Facebook")}}
      </div>
      <div class="mb-3">
        {{teamsform.instagram(class="form-control", id="exampleFormControlInput1", placeholder="Instagram")}}
      </div>
      <div class="mb-3">
        {{teamsform.linkedin(class="form-control", id="exampleFormControlInput1", placeholder="Linkedin")}}
      </div>
      <div class="mb-3">
        {{teamsform.order(class="form-control", id="exampleFormControlInput1", placeholder="Order")}}
      </div>
    <div class="form-check">
      {{teamsform.isactive(class="form-check-input", type="checkbox", id="flexCheckDefault")}}
      <label class="form-check-label" for="flexCheckDefault">
        Aktiv olsun
      </label>
    </div>
    {{teamsform.submit(class='btn btn-primary')}}
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">profession</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
      {% for team in teams %}
    <tr>
      <td>{{team.Id}}</td>
      <td>{{team.Name}}</td>
      <td>{{team.Profession}}</td>
      <td><img src="./admin/static/uploads/{{team.Image}}" alt="" style="width: 50px; height: 50px; object-fit:cover;"></td>
      <td>
          <a href="/admin/teams/delete/{{team.Id}}" class="btn btn-danger">Delete</a>
          <a href="/admin/teams/edit/{{team.Id}}" class="btn btn-primary">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    
{% endblock %}